*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: linear-gradient(135deg,#ffd6e0,#c8e7ff);
    overflow:hidden;
}

.container{
    text-align:center;
    animation: fadeIn 2s ease-in-out;
}

.title{
    font-size:3rem;
    margin-bottom:40px;
    color:#444;
}

#countdown{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:25px;
    margin-top:20px;
}


.time-box{
    background:rgba(255,255,255,0.4);
    backdrop-filter:blur(10px);
    padding:25px;
    border-radius:20px;
    box-shadow:0 8px 20px rgba(0,0,0,0.1);
    width:110px;
    transition:0.4s;
}

.time-box:hover{
    transform:translateY(-10px);
}

.time-box span{
    font-size:2rem;
    font-weight:bold;
    color:#333;
}

.time-box p{
    font-size:1.2rem;
    color:#555;
}

.footer-text{
    margin-top:40px;
    font-size:1.2rem;
    color:#555;
}
.bubbles{
    position:absolute;
    width:100%;
    height:100%;
    display:flex;
    justify-content:space-around;
    align-items:flex-end;
    overflow:hidden;
    z-index:0;
}

.bubbles span{
    position:relative;
    bottom:-150px;
    width:40px;
    height:40px;
    background:rgba(255,255,255,0.6);
    border-radius:50%;
    animation: animate 10s linear infinite;
    animation-duration: calc(120s / var(--i));
}

.bubbles span:nth-child(even){
    background:rgba(255,255,255,0.3);
}

@keyframes animate{
    0%{
        transform:translateY(0) scale(1);
        opacity:0;
    }
    10%{
        opacity:1;
    }
    100%{
        transform:translateY(-120vh) scale(1.3);
        opacity:0;
    }
}
/* Floating Animation */
@keyframes fadeIn{
    from{opacity:0; transform:translateY(20px);}
    to{opacity:1; transform:translateY(0);}
}